body {
    font-family: Arial, sans-serif;
    background-color: burlywood;
    text-align: center;
    margin-top: 100px;
}

h2 {
    color:black;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    border: none;
    margin: 5px;
    font-size: 16px;
    background-color: #333;
    color:white;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color:darkgray;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color:cadetblue;
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color:darkred;
}
